/* Reset básico para garantir que o estilo seja consistente em todos os navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definições de estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor de fundo escura, como o Spotify */
    color: #e1e1e1; /* Cor do texto clara */
    padding: 20px;
}

/* Estilo para o título */
h1 {
    color: #1db954; /* Verde característico do Spotify */
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para o formulário de adicionar música */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #282828; /* Fundo escuro para o formulário */
    padding: 20px;
    border-radius: 8px;
}

/* Estilo para os campos do formulário */
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1db954; /* Borda verde característica */
    border-radius: 5px;
    background-color: #333; /* Cor de fundo dos campos de entrada */
    color: #e1e1e1; /* Cor do texto nos campos de entrada */
}

input[type="submit"] {
    background-color: #1db954; /* Cor de fundo do botão de envio */
    color: #ffffff; /* Cor do texto do botão */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #1ed760; /* Cor de fundo quando o mouse está sobre o botão */
}

/* Estilo para o link */
a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    color: #1db954; /* Cor do texto do link */
    background-color: #282828; /* Cor de fundo do link */
    border: 2px solid #1db954; /* Borda verde ao redor do link */
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado do link */
}

a:hover {
    background-color: #1db954; /* Cor de fundo quando o mouse está sobre o link */
    color: #ffffff; /* Cor do texto quando o mouse está sobre o link */
}